<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AquaSmart</title>
  <link rel="icon" href="../static/images/858398.ico" type="image/x-icon">
  <!-- datatables -->
  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- style -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
  <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
</head>

<body>
  <div class="hero_area">
    <!-- header -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('projeto') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('grupo') }}"> Quem Somos</a>
                </li>
                <!-- <li class="nav-item">
                      <a class="nav-link" href="contact.html"> Entre em contato</a>
                    </li> -->
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- header -->
    <!-- topo da pag -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="col-lg-10 col-md-11 mx-auto">
                <div class="detail-box">
                  <div>
                    <h4>
                      Bem-vindo ao Projeto Aquário Inteligente!
                    </h4>
                    <h2>
                      Sistema de Monitoramento de pH e Temperatura
                    </h2>
                    <p>
                      Descubra a revolução na criação de aquários. Nosso projeto oferece um sistema de monitoramento de
                      pH e temperatura em tempo real, proporcionando um ambiente ideal para seus peixes e plantas.
                    </p>
                    <div class="BotoesLinkaveis">
                      <a onclick="scrollToElement()">
                        Tabela de Monitoramento
                      </a>
                    </div>
                    <div class="BotoesLinkaveis">
                      <a onclick="scrollToChart()">
                        Gráfico de Monitoramento
                      </a>
                    </div>
                    <div class="BotoesLinkaveis">
                      <a onclick="scrolltoControl()">
                        Controle de Temperatura
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- topo da pag -->
  </div>


  <!-- table -->
  <section class="us_section layout_padding">
    <div id="tabelaData" class="container">
      <div class="heading_container">
        <h2>
          Dados
        </h2>
      </div>
      <table id="example" class="display" style="width:100%">
        <thead>
          <tr>
            <th data-order="desc">Id <button class="toggle-order" data-column="0" data-order="desc"></button></th>
            <th data-order="desc">Valor de pH <button class="toggle-order" data-column="1" data-order="desc"></button>
            </th>
            <th data-order="desc">Temperatura (Celsius) <button class="toggle-order" data-column="2"
                data-order="desc"></button></th>
            <th data-order="desc">Data e Hora <button class="toggle-order" data-column="3" data-order="desc"></button>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for linha in resultados %}
          <tr>
            <td>{{ linha[0] }}</td>
            <td>{{ linha[1] }}</td>
            <td>{{ linha[2] }}</td>
            <td>{{ linha[3] }}</td> <!-- Adapte o índice para corresponder à quarta coluna no seu banco de dados -->
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>Valor de pH</th>
            <th>Temperatura (Celsius)</th>
            <th>Data e Hora</th> <!-- Substitua "Coluna 4" pelo nome real da quarta coluna -->
          </tr>
        </tfoot>
      </table>
    </div>
  </section>

  <style>
    .toggle-order {
      border: none;
      background-color: transparent;
      padding: 0;
      margin: 0;
      cursor: pointer;
      color: transparent;
    }
  </style>

  <script>
    $(document).ready(function () {
      var table = $('#example').DataTable({
        "order": [[0, "desc"]]
      });

      // Adicionar manipulador de clique ao botão para alternar a ordem
      $('.toggle-order').on('click', function () {
        var columnIndex = $(this).data('column');
        var currentOrder = table.order()[0][1];
        var newOrder = currentOrder === 'asc' ? 'desc' : 'asc';

        table.order([columnIndex, newOrder]).draw();
      });
    });
  </script>
  <!-- table -->


  <!-- contatenos -->
  <section class="layout_padding us_section">
    <div class="container-fluid">
      <div id="graficoData" class="container">
        <div class="heading_container">
          <h2>
            Análise Gráfica
          </h2>
        </div>
        <div class="filter-container form_container">
          <form id="filterForm" class="filter-container" action="" method="post">
            <input class="filter-input" type="date" name="initialDate" id="initialDate">
            <input class="filter-input" type="date" name="finalDate" id="finalDate">
            <button class="filter-button" type="submit">Filtrar</button>
          </form>
          <script>
            $(document).ready(function () {
              $("#filterForm").submit(function (event) {
                event.preventDefault();
                var formData = {
                  initialDate: $("#initialDate").val(),
                  finalDate: $("#finalDate").val()
                };
                $.ajax({
                  type: "POST",
                  url: "/FiltroAtivo",
                  data: formData,
                  success: function (formData) {
                    const data = myChart.data.datasets;
                    data[0].data = JSON.parse(formData.vl_ph);
                    data[1].data = JSON.parse(formData.vl_temp);
                    myChart.data.labels = JSON.parse(formData.label);
                    myChart.update(); // Atualiza o gráfico

                  },
                  error: function (error) {
                    console.log("Error", error)
                  }
                });
              });
            });
          </script>
        </div>
        <canvas id="myChart" class="display">
          <script>
            const ctx = document.getElementById("myChart")
            
            const valor_ph = JSON.parse("{{vl_ph}}");// Converta a string JSON para um array e tira os ultimos 13
            const valor_temp = JSON.parse("{{vl_temp}}");
            // const labels = Array(13).fill(""); ARRAY DE TAMANHO 13 COM "" EM CADA 

            // CONVERTENDO A STRING QUE ESTAVA DANDO PROBLEMA RECEBIDA DO FLASK PARA UM ARRAY DE STRINGS DE FORMA MANUAL
            const labels = [];
            var str = "";
            const str_py = "{{label}}";
            for (let i = 0; i < str_py.length; i++) {
              if (str_py[i] !== " ") {
                str += str_py[i];
              } else {
                // REMOVENOD 5 PRIMEIROS CARACTERES ESPECIAIS E OS 6 ULTIMOS
                labels.push(str.substring(5).slice(0, -6))
                // console.log(str.substring(5).slice(0, -6))
                str = ""
              }
            }
            // REMOVENDO UM CARACTERE INDESEJADO QUE NAO SEGUIA PADRAO DAS OUTRAS
            labels[0] = labels[0].substring(1)
            
            // VOLTANDO AS CONFIGURAÇÕES DO GRÁFICO 
            const data = {
              labels: labels,
              datasets: [{
                data: valor_ph,
                label: "Progressão do Ph"
              },
              {
                data: valor_temp,
                label: "Progressão de Temperatura"
              }
              ]
            }

            const config = {
              type: "line",
              data,
              options: {
                responsive: true
              }
            };

            const myChart = new Chart(ctx, config)
            
            </script>
        </canvas>
      </div>
    </div>
    </div>
    </div>
  </section>

  <!-- end contact section -->

  <!-- footer -->
  <section class="contact_section ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="images/contact-img.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="form_container pr-0 pr-lg-5 mr-0 mr-lg-2">
            <div class="heading_container">
              <h2 id="controleTempSection">
                Controle de Temperatura
              </h2>
            </div>
            <form id="controlForm" action="" method="post">
              <div>
                <br><br>
                <tr>
                  <td><h2>Temperatura atual:  {{temp_atual}}</h2></td>
                </tr>          
              </div>
              <div>
              
                <tr>
                  <td><h2>Acidez atual:  {{ph_atual}}</h2></td>
                </tr> 
              </div>
              <div>
                <input id="setpoint" type="text" placeholder="Set Point: 25.10" />
              </div>
              <div>
                <br><br>
                <p>Insira no campo acima o valor exatamente como esta sendo mostrado.</p>
                <p>Controle apenas de TEMPERATURA!</p>
                <span id="labelAcao">Status Controle: Parado</span>
              </div>
              <div class="d-flex ">
                <button type="submit">
                  Enviar
                </button>
              </div>
            </form>
            <script>
              $(document).ready(function () {
                $("#controlForm").submit(function (event) {
                  event.preventDefault();
                  var formData = {
                    tp_atual: "{{temp_atual}}",
                    set_point: $("#setpoint").val()
                  };
                  $.ajax({
                    type: "POST",
                    url: "/ControleTemperatura",
                    data: formData,
                    success: function (formData) {
                      var  label = document.getElementById("labelAcao");
                      label.textContent =  "Status Controle: "+formData.response;
                      scrolltoControl();
                    },
                    error: function (error) {
                      console.log("Error", error)
                    }
                  });
                });
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script>
    $(document).ready(function () {
      $('#example').DataTable();
    });
  </script>
  <script>
    function scrollToElement() {
      var tabelaData = document.getElementById('tabelaData');
      tabelaData.scrollIntoView({ behavior: 'smooth' });
    }
  </script>
  <script>
    function scrollToChart() {
      var graficoPh = document.getElementById('graficoData');
      graficoPh.scrollIntoView({ behavior: 'smooth' });
    }
    function scrolltoControl(){
      var controle = document.getElementById('controleTempSection');
      controle.scrollIntoView({ behavior: 'smooth' });
    }
  </script>
</body>

</html>